<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerHost" value="192.168.1.1"/>
    <add key="ServerUser" value="test"/>
    <add key="ServerPassword" value="test"/>
    <add key="ServerPort" value="22"/>
    <add key="DatabaseHost" value="localhost"/>
    <add key="DatabasePort" value="3306"/>
    <add key="DatabaseUser" value="UTM5"/>
    <add key="DatabasePassword" value="ttt123"/>
    <add key="DatabaseName" value="UTM5"/>
    <add key="LocalCdrPath" value="C:\DGenerator\cdr\"/>
    <add key="RemoteCdrPath" value="/usr/cdr_for_utm/"/>
    <add key="ZipCdrPath" value="C:\DGenerator\cdr\zip"/>
    <add key="RemoveConvertedCdr" value="0"/>
    <add key="RemoveCallsWithNullDuration" value="0"/>
    <add key="CorrectCdrDuration" value="0"/>
    <add key="BaseReportPath" value="C:\DGenerator\reports\base\"/>
    <add key="LocalBillsPath" value="C:\DGenerator\bills\"/>
    <add key="BillTemplatePath" value="C:\DGenerator\bills\template\"/>
    <add key="LocalDetailsPath" value="C:\DGenerator\details\"/>
    <add key="LocalTraficReportPath" value="C:\DGenerator\reports\traffic\"/>
    <add key="LocalOperatorReportPath" value="C:\DGenerator\reports\operator\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
